<html>

<head>
    <title>The Goods</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/goods/packages/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/goods/packages/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/static/goods/packages/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/static/goods/packages/bower_components/angularjs-slider/dist/rzslider.css"/>

    <script src="/static/goods/packages/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/goods/packages/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/goods/packages/bower_components/angular/angular.js"></script>
    <script src="/static/goods/packages/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/static/goods/packages/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/goods/packages/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/static/goods/packages/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/static/goods/packages/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/static/goods/packages/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/goods/packages/bower_components/angular-material/angular-material.js"></script>
    <script src="/static/goods/packages/bower_components/angularjs-slider/dist/rzslider.js"></script>

    <script src="/static/goods/javascript/app/app.module.js"></script>
    <script src="/static/goods/javascript/app/app.config.js"></script>

    <script src="/static/goods/javascript/app/services/goods.service.js"></script>
    <script src="/static/goods/javascript/app/services/user.service.js"></script>

    <script src="/static/goods/javascript/app/filters/slashed-date.filter.js"></script>

    <script src="/static/goods/javascript/app/goods/goods.routes.js"></script>
    <script src="/static/goods/javascript/app/goods/goods.controller.js"></script>
    <script src="/static/goods/javascript/app/goods/item-description.controller.js"></script>
    <script src="/static/goods/javascript/app/user-management/menu.controller.js"></script>
    <script src="/static/goods/javascript/app/user-management/login-form.controller.js"></script>
    <script src="/static/goods/javascript/app/user-management/register-form.controller.js"></script>

    <link rel="stylesheet" href="/static/goods/stylesheets/main.css" />
</head>

<body ng-app="app">
    {% verbatim %}
    <header class="navbar">
        <div class="logo">
            <a href="#">Goods</a>
        </div>
        <div class="header-menu pull-right " ng-controller="menuController as menu">
            <div class="nav pull-right">
                <a rel="button" class="dropdown-toggle" ng-class="!menu.userLogined ? 'icon-not-logined' : 'icon-logined'" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                </a>
                <ul class="dropdown-menu" ng-hide="menu.userLogined">
                    <li>
                        <a rel="button" href="#" ng-click="menu.login()">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span class="label-text">Войти</span>
                        </a>
                    </li>
                    <li>
                        <a rel="button" href="#" ng-click="menu.register()">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span class="label-text">Зарегестрироваться</span>
                        </a>
                    </li>
                </ul>
                <ul class="dropdown-menu" ng-hide="!menu.userLogined">
                    <li><a href="#" rel="button">Заглушка1</a></li>
                    <li><a href="#" rel="button">Заглушка2</a></li>
                    <li><a href="#" rel="button">Заглушка3</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a rel="button" href="#" ng-click="menu.logout()">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span class="label-text">Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="login-panel" style="display:none">
            <a rel="button" href="#" ng-if="menu.userLogined" ng-click="menu.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                <span class="label-text">Выйти</span>
            </a>
        </div>
    </header>
    <section class="container" ui-view>
    </section>
    <footer>

    </footer>
    {% endverbatim %}
</body>

</html>
