{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'you_service/bootstrap/css/bootstrap.css'%}"/>
    <link rel="stylesheet" href="{% static 'you_service/stylesheets/main.css'%}"/>
    <link rel="stylesheet" href="{% static 'you_service/stylesheets/media.css'%}"/>
    <script src="{% static 'you_service/javascripts/jquery-1.12.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'you_service/bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    <title></title>
</head>
<body>
    <header>
        <div class="header-upper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <p>График работы: Пн-Пт 10.00-17.00</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="header-phone-container">
                            <p class="header-phone">(063)151-60-14</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="socials">
                            <a target="_blank" href="#"><img src="{% static 'you_service/images/faceboook.png' %}" id="header-facebook-icon"></a>
                            <a target="_blank" href="#"><img src="{% static 'you_service/images/vk-international.png' %}" id="header-vk-icon"></a>
                            <a target="_blank" href="#"><img src="{% static 'you_service/images/instagram-.png' %}" id="header-instagram-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-lower">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <a href="#" class="heeader-logo">
                            <img src="{% static 'you_service/images/logo.png' %}" class="logo-image">
                        </a>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <ul class="header-menu">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="#company-description">Обслуживание компаний</a></li>
                            <li><a href="#contacts">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="carousel slide" id='myCarousel'>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'you_service/images/bg_header.png' %}">
                <div class="carousel-caption">
                    <h1>
                        Ремонт ноутбуков
                    </h1>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'you_service/images/laptop.png' %}">
                <div class="carousel-caption">
                    <h1>
                        Ремонт планшетов
                    </h1>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'you_service/images/phones.png' %}">
                <div class="carousel-caption">
                    <h1>
                        Ремонт телефонов
                    </h1>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#myCarousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </section>
    <section class='callcenter'>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feedback">
                        <a href="#">
                            <img class='callcenter-icon' src="{% static 'you_service/images/call.png'%}">
                        </a>
                        <p>Заказать звонок</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feedback">
                        <a href="#">
                            <img class='callcenter-icon' src="{% static 'you_service/images/consultation.png'%}">
                        </a>
                        <p>Связаться с консультантом</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feedback">
                        <a href="#">
                            <img class='callcenter-icon' src="{% static 'you_service/images/homemaster.png'%}">
                        </a>
                        <p>Вызов мастера на дом</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='services' id="services">
        <div class='services-header'>
            <div class="container">
                <div class="row">
                    <div>
                        <h1>Услуги</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/1.png'%}">
                    <p>Замена любых комплектующих взамен сгоревших, поломанных по любой причине.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/2.png'%}">
                    <p>Замена системного блока, сборка нового компьютера.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/3.png'%}">
                    <p>Диагностика поломки, выявление деталей, требующих замены.</p>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/4.png'%}">
                    <p>Чистка от пыли и грязи, замена термопасты.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/5.png'%}">
                    <p>Установка Windows</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 service">
                    <img src="{%static 'you_service/images/6.png'%}">
                    <p>Установка модема\роутера с настройкой. Подключение всех устройств к Wi-Fi.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="button-price">Стоимость услуг</button>
                </div>
                <div class="col-md-12 service-contact">+38(063)151-60-14</div>
                <div class="col-md-12 service-contact">+38(068)569-74-24</div>
                <div class="col-md-12 service-contact" >Звоните!</div>
            </div>
        </div>
    </section>
    <section class="company-description" id="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Обслуживание компаний</h2>
                </div>
                <div class="col-md-12" >
                    <img src="{% static 'you_service/images/imagecontent.png' %}">
                </div>
                <div class="col-md-12">
                    <p>
                        Когда у ваших сотрудников возникают проблемы в работе с компьютерной техникой, им нужна профессиональная техническая помощь. Они могут обращаться к нам за помощью по телефону, по электронной почте, через портал оформления заявок, а наши специалисты окажут необходимую помощь удаленно или с выездом в офис.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Наши преимущества</h2>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img src="{% static 'you_service/images/pomosh2.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <ul>
                        <li>Скорая компьютерная помощь</li>
                        <li>Бесплатная диагностика</li>
                        <li>Ремонт комплектующих с гарантией</li>
                        <li>Доступные цены на услуги</li>
                        <li>Профессиональные и опытные мастера</li>
                        <li>Выезд на дом или в офис к клиенту</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <button class="button-master-call">Вызывать мастера</button>
                </div>
                <div class="col-md-12 service-contact">+38(063)151-60-14</div>
                <div class="col-md-12 service-contact">+38(068)569-74-24</div>
                <div class="col-md-12 service-contact" >Звоните!</div>
            </div>
        </div>
    </section>
    <section class="contacts" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Контакты</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <span>г. Одесса ул. Ольгиевская, 9</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <span>Email: youservice@mail.ua</span>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.807594154049!2d30.723642915145145!3d46.49212217228716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631c10298cd7b%3A0xdca9464e2538e7c8!2z0J7Qu9GM0LPRltGX0LLRgdGM0LrQsCDQstGD0LsuLCA5LCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1455191585810" style="border:0" allowfullscreen="" frameborder="0" height="480" width="100%"></iframe>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-logo">
                        <a href="#"><img src="{% static 'you_service/images/logo2.png' %}"></a>
                    </div>
                    <span class="footer-number">(063)151-60-14</span>
                    <span class="footer-number">(068)569-74-24</span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-address">
                        <span >г. Одесса ул. Ольгиевская, 9</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="socials">
                        <a target="_blank" href="#"><img src="{% static 'you_service/images/faceboook.png' %}" id="header-facebook-icon"></a>
                        <a target="_blank" href="#"><img src="{% static 'you_service/images/vk-international.png' %}" id="header-vk-icon"></a>
                        <a target="_blank" href="#"><img src="{% static 'you_service/images/instagram-.png' %}" id="header-instagram-icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
