@import "constants";
/*carousel block*/
.carousel {
    @extend .field;
    //
    background: #282b31;
    //
    $carousel-height: 50px;

    &__panel {
        width: 100%;
        height: $carousel-height;
        //
        line-height: $carousel-height;
        //
        background: $bg-second-color;
    }

    &__image {
        height: 300px;
        width: 300px;
    }

    &__control {
        display: inline-block;
        height: 50px;
        width: 50px;
        //
        font-size: 20px;
        text-decoration: none;
        //
        color: $link-first-color;
        background: $bg-first-color;
        //
        transition-duration: 0.2s;

        &:hover {
            background: $link-second-color;
        }
    }

    &__next {
        @extend .carousel__control;
        //
        float: right;
    }

    &__prev {
        @extend .carousel__control;
        //
        float: left;
    }
}

.carousel .item {
    margin: 3px;
}

.carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
