@import "constants";

.clearfix:before,
.clearfix:after {
    display: table;

    content: " ";
}
.clearfix:after {
    clear: both;
}

.menu-link{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "type here something";

    color: $link-first-color;

    transition-duration: 0.2s;

    &:hover{
        color: $link-second-color;
        cursor: pointer;
    }
}
