$page-width: 100%;
$bg-first-color: #26292e;
$bg-second-color: #2f3238;

$link-first-color: #fefefe;
$link-second-color: #de5e60;
$width-mobile: 550px;

.field{
    &.hidden{
        display: none;
    }
}
