<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Portfolio{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if USED_SERVER == 'heroku' %}
          <link rel="stylesheet" href="/static/portfolio/heroku/packages/font-awesome/css/font-awesome.min.css">
        {% else %}
          <link rel="stylesheet" href="/static/portfolio/build/packages/font-awesome/css/font-awesome.min.css">
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block head_scripts %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a class="logo__link" href="#">Portfolio</a>
            </div>
            <!-- <a class="toggle-menu" rel="button"><span class="icon-hamburger" data-toggle-for="#header-menu" ></span></a> -->
            <a class="toggle-menu" rel="button"><span class="fa fa-bars" data-toggle-for="#header-menu" ></span></a>
            <nav class="header-menu" id="header-menu">
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" role="button" href="#about">About me</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" role="button" href="#works">My works</a>
                    </li>
                    <!--li class="header-menu__item">
                        <a class="header-menu__link" role="button" href="#">Repositories</a>
                    </li-->
                    <li class="menu__item">
                        <a class="menu__link" role="button" href="#">Contact</a>
                    </li>
                </ul>
            </nav>

        </header>
        {% if USED_SERVER == 'heroku'%}
          <script type="text/javascript" src="/static/portfolio/heroku/packages/jquery.js"></script>
          <script type="text/javascript" src="/static/portfolio/heroku/app/header/common.js"></script>
        {% else %}
          <script type="text/javascript" src="/static/portfolio/build/packages/jquery.js"></script>
          <script type="text/javascript" src="/static/portfolio/build/app/header/common.js"></script>
        {% endif %}
        {% block body %}{% endblock %}
        {% block body_scripts %}{% endblock %}
    </body>
</html>
