{% extends 'base.html' %}

{% block stylesheets %}
{% if USED_SERVER == 'heroku' %}
  <link rel="stylesheet" href="/static/portfolio/heroku/styles/works-app.css"/>
  <link rel="stylesheet" type="text/css" href="/static/portfolio/heroku/packages/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/static/portfolio/heroku/packages/slick-theme.css"/>
{% else%}
  <link rel="stylesheet" href="/static/portfolio/build/styles/works-app.css"/>
  <link rel="stylesheet" type="text/css" href="/static/portfolio/build/packages/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/static/portfolio/build/packages/slick-theme.css"/>
{% endif %}
{% endblock %}

{% block body %}

<section class="about" id="about">
    <h2>Who I am</h2>
    <div class="person-description">
        <img class="person-description__photo" src="/static/images/portfolio/works_app/person.png" height="250" width="200" />
        <div>
            <h2>Front-end developer</h2>
            <p class="person-description__text m-hidden">
                Hi! My name is Oleh Pavlov. I am front-end developer.<br />
                You can find some my works on the bottom of this page.<br />
                Site is on developing yet and design can be changed in future.
            </p>
        </div>
        <div class="person-description__socials">

        </div>
    </div>
</section>
<section class="works" id="works">
    <h2 class="works__header">My works</h2>
    <div class="filter-toggle">

    </div>
    <div class="works-filter">
        <h2 class="works-filter__header">Project filter</h2>
        <ul class="options">
            <li class="options__item">
                <a class="options__link m-one-per-time" id="all-projects" rel="button">All projects</a>
            </li>
            <li class="options__item">
                <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="with repository"/>With repositories</label>
            </li>
            <li class="options__submenu">
                <!-- <h2 class="options__submenu-header" href="#">Javascript technologies</h2> -->
                <ul class="options">
                    <!-- <li class="options__submenu">
                        <a class="options__submenu-header" href="#">OOO</a>
                        <ul class="options">
                            <li class="options__item">
                                <label><input class="options__checkbox" type="checkbox"/>XXX</label>
                            </li>
                            <li class="options__item">
                                <label><input class="options__checkbox" type="checkbox"/>YYY</label>
                            </li>
                            <li class="options__item">
                                <label><input class="options__checkbox" type="checkbox"/>CCC</label>
                            </li>
                        </ul>
                    </li> -->
                    <li class="options__item">
                        <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="javascript"/>JavaScript</label>
                    </li>
                    <li class="options__item">
                        <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="angularjs"/>AngularJS</label>
                    </li>
                    <li class="options__item">
                        <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="jquery"/>jQuery</label>
                    </li>
                </ul>
            </li>
            <li class="options__item">
                <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="python"/>Python</label>
            </li>
            <li class="options__item">
                <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="django"/>Django</label>
            </li>
            <li class="options__item">
                <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="sass"/>Sass</label>
            </li>
            <li class="options__item">
                <label class="options__checkbox-label"><input class="options__checkbox" type="checkbox" value="bootstrap"/>Bootstrap</label>
            </li>
        </ul>
    </div>
    <div class="works-list">
        <div class="works-list__item-container">
            {% for project in projects %}
                <div class="works-list__item selected" data-technologies = "{{project.technology_values_json}}"
                     data-project-id = "{{project.pk}}" data-repository="{% firstof project.repository %}">
                    <h2>{{project.title | truncatechars:18}}</h2>
                    <div class="work-example">
                        <img class="work-example__thumbnail" src="{{project.thumbnail.link}}" height="200" width="250"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="contacts">
    <div class="contact-details">
        <!-- just string of text -->
    </div>
    <div class="socials">
        <!-- <a class="facebook" href="#">facebook</a>
        <a class="lenkedin" href="#">linkedin</a>
        <a class="vkontakte" href="#">vkontakte</a> -->
    </div>
</section>
<footer>
    <!-- copyright (c) -->
</footer>
<div class="project-info modal">
</div>
{% verbatim %}
<script id="modal-template"  type="text/x-handlebars-template">
    <div class="project-info__body">
        <div class="project-info__preload">
        </div>
        <a el="button" title="Close" class="project-info__close">X</a>
        <h2 class="project-info__header {{showIfExists header}}">{{header}}</h2>
        <div class="carousel {{showIfExists images}}">
            <div class="carousel__images">
            </div>
            <div class="templates" style="display:none;">
                <img class="carousel__image" style="display:none" height=300 width=300 src=""/>
                <img class="carousel__preload-image" style="" height=300 width=300 src="http://kenwheeler.github.io/slick/img/fonz1.png"/>
            </div>
            <div class="carousel__panel">
                <a class="carousel__prev" href="#"> < </a>
                <a class="carousel__next" href="#"> > </a>
            </div>
        </div>
        <div class="project-info__link {{showIfExists link}}">
            <a href="{{link}}" target="_blank"> project link</a>
        </div>
        <div class="project-info__repository {{showIfExists repository}}">
            <a href="{{repository}}" target="_blank"> project repository</a>
        </div>
        <div class="project-info__technologies {{showIfExists technologies}}">{{technologies}}</div>
        <p class="project-info__description {{showIfExists description}}">{{description}}</p>
        <p class="project-info__responsibilities {{showIfExists responsibilities}}">{{responsibilities}}</p>
    </div>
</script>

<script id="carousel-images-template" type="text/x-handlebars-template">
  {{#each images}}
    <img class="carousel__image" style="display:none" height=300 width=300 data-lazy="{{this.link}}" src=""/>
  {{/each}}
</script>
{% endverbatim %}
{% endblock %}

{% block body_scripts %}
    {% if USED_SERVER == 'heroku' %}
      <script type="text/javascript" src="/static/portfolio/heroku/packages/slick.js"></script>
      <script type="text/javascript" src="/static/portfolio/heroku/packages/jquery.ba-throttle-debounce.js"></script>
      <script type="text/javascript" src="/static/portfolio/heroku/packages/jquery.sticky.js"></script>
      <script type="text/javascript" src="/static/portfolio/heroku/packages/handlebars.js"></script>
      <script type="text/javascript" src="/static/portfolio/heroku/app/works-app/common.js"></script>
    {% else %}
      <script type="text/javascript" src="/static/portfolio/build/packages/slick.js"></script>
      <script type="text/javascript" src="/static/portfolio/build/packages/jquery.ba-throttle-debounce.js"></script>
      <script type="text/javascript" src="/static/portfolio/build/packages/jquery.sticky.js"></script>
      <script type="text/javascript" src="/static/portfolio/build/packages/handlebars.js"></script>
      <script type="text/javascript" src="/static/portfolio/build/app/works-app/common.js"></script>
    {% endif %}
{% endblock %}
