/*Portfolio main part*/
//main part variables
$main-text-color: #7f8289;
@import "filter";
@import "project-info";
@import "works-list";
/*about blocks*/
.about {
    padding-top: 10px;
    //
    text-align: center;
    //
    background: $bg-second-color;

    & h2 {
        margin-bottom: 19px;
    }
}

.person-description {
    padding: 20px;

    &__text {
        font-size: 16px;
        color: $main-text-color;
    }

    &__photo {
        border: 3px solid #2f3638;
        border-radius: 15px;
    }
}
/*---*/
.contacts {
    background: $bg-second-color;
}
/*---*/
body > footer {
    background: $bg-first-color;
}
