/*filter blocks*/
.works {
    .filter-toggle {
        height: 50px;
        width: 50px;
        //
        opacity: 0.7;
        background: url('/static/images/portfolio/works_app/filter.png') center no-repeat;
        background-color: $bg-second-color;
        background-size: contain;
        //
        transition-duration: 0.2s;

        &.active {
            height: 20px;
            width: 20px;
            opacity: 1;
            background-image: url('/static/images/portfolio/works_app/filter-close.png');
            background-color: $bg-first-color;

            &:hover {
                border-radius: 50%;
                background-color: $bg-second-color;
            }
        }

        &:hover {
            opacity: 1;
            background-color: rgba(150,150,150,0.5);
        }
    }

    .filter-toggle-sticky-wrapper {
        position: absolute;
        z-index: 9999;
        left: 0;
        //
        display: none;
        //
        cursor: pointer;
        //
        @media all and (max-width: $width-mobile) {
            display: inline-block;
        }
    }

    .filter-sticky-wrapper {
        @include span(1 of 4);
        //
        margin-right: 0;
        margin-left: 20px;
        //
        @media all and (max-width: $width-mobile) {
            width: 100%;
            margin-left: 0;
            text-align: center;
        }

        &.hidden-on-mobile {
            @media all and (max-width: $width-mobile) {
                display: none;
            }
        }
    }

    .works-filter {
        text-align: left;
        //
        background: $bg-first-color;
        //
        @media all and (max-width: $width-mobile) {
            width: 100%;
            margin-left: 0;
            text-align: center;
        }

        &__header {
            margin-bottom: 20px;
            //
            font-size: 24px;
            //
            color: $link-first-color;
            //
            @media all and (max-width: $width-mobile) {
                font-size: 28px;
            }
        }
    }
}
/*---*/
/*Options*/
.options {
    margin: 0;
    padding: 0;
    //
    text-align: left;
    list-style: none;
    //
    @media all and (max-width: $width-mobile) {
        text-align: center;
    }

    & li {
        @extend .menu-link;
        //
        text-transform: none;
        font-size: 22px;
        //
        color: $main-text-color;
    }

    &__item input,
    &__item label {
        cursor: pointer;
    }

    &__item,
    &__submenu,
    &__submenu-header {
        margin-bottom: 25px;
    }

    &__submenu-header {
        display: inline-block;
    }

    &__checkbox {
        display: none;
    }

    &__checkbox-label.checked {
        color: $link-second-color;
    }
}
/*---*/
