/*modal project info classes*/
.project-info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    //
    overflow: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    //
    background: rgba(0,0,0,0.8);
    opacity: 0;

    &__preload {
        width: 100%;
        height: 400px;
        // display: none;
        background: url('/static/images/portfolio/works_app/load.gif') center no-repeat #2f3238;
        background-size: 50px;
        // background-color: #666;
    }

    &.modal {
        display: none;
    }

    &.modal.open {
        display: block;
        //
        opacity: 1;
        transition: opacity 400ms ease-in;
    }

    &__body {
        position: relative;
        //
        width: 60%;
        margin: 11px auto;
        display: inline-block;
        //
        text-align: center;
        //
        color: $link-first-color;
        background: $bg-second-color;
        transition: width 300ms ease-in-out;
        //
        @media screen and (max-width: 960px) {
            width: 80%;
        }
        @media screen and (max-width: $width-mobile) {
            width: 100%;
        }
    }

    &__close {
        position: absolute;
        top: -10px;
        right: -12px;
        //
        width: 24px;
        //
        border-radius: 12px;
        //
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 1px 3px #000;
        //
        color: $link-first-color;
        background: $bg-second-color;
        //
        transition-duration: 0.2s;

        &:hover {
            color: $link-second-color;
        }
        @media screen and (max-width: $width-mobile) {
            right: 10px;
        }
    }

    .text-field {
        @extend .field;
        //
        width: 70%;
        text-align: left;
        display: inline-block;
        margin-top: 10px;
    }

    .link-field {
        a {
            display: inline-block;
            // margin-bottom: 10px;
            // text-decoration: none;
            color: $link-first-color;

            &:hover {
                color: $link-second-color;
            }
        }
    }

    &__header {
        @extend .field;
    }

    &__link {
        @extend .text-field;
        @extend .link-field;

    }

    &__repository {
        @extend .text-field;
        @extend .link-field;
    }

    &__technologies {
        @extend .text-field;
    }

    &__description {
        @extend .text-field;
    }

    &__responsibilities {
        @extend .text-field;
    }
}
/*---*/
