/*projects catalog*/
//works common variables
$item-side: 250px;
$item-margin: 50px;
$item-side-1-in-row-w: 300px;
$item-side-1-in-row-h: 250px;

.works {
    @include container;
    //
    position: relative;
    //
    padding-top: 20px;
    //
    text-align: center;
    //
    background: $bg-first-color;

    &__header {
        margin: 0 0 20px;
        font-size: 28px;
        color: $link-first-color;
    }
}

.works-list {
    @include span(3 of 4 last);
    //
    text-align: center;
    //
    @media all and (max-width: $width-mobile) {
        width: 100%;
    }

    &__item-container {
        max-width: 100%;
        display: inline-flex;
        //
        flex-wrap: wrap;
        text-align: left;
        //
        transition: width 300ms ease-in-out;
        //
        @media all and (max-width: 1645px) {
            max-width: ($item-margin + $item-side) * 3;
        }
        @media all and (max-width: 1055px) {
            max-width: ($item-margin + $item-side) * 2;
        }
        @media all and (max-width: 729px) {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }

    &__item {
        //display: inline-block;
        box-sizing: content-box;
        display: none;
        margin: 0 $item-margin $item-margin 0;
        transition: margin 300ms ease-in-out, width 3000ms ease-in-out;
        //
        @media all and (max-width: 1280px) {
            $item-margin-hd: $item-margin / 2;
            margin: 0 $item-margin-hd $item-margin-hd 0;
        }
        @media all and (max-width: 1150px) {
            $item-margin-small: $item-margin / 10;
            margin: 0 $item-margin-small $item-margin-small 0;
        }

        &.hidden {
            display: none;
        }

        &.selected {
            display: inline-block;
        }
        @media all and (max-width: 320px) {
            margin-right: 0;
        }
    }
}

.work-example {
    &__thumbnail {
        width: 250px;
        height: 200px;
        //
        cursor: pointer;
        //
        transition: width 300ms ease-in-out, height 300ms ease-in-out, box-shadow 100ms ease-in-out;

        &:hover {
            box-shadow: 0 0 48px -23px rgba(254,254,254,1);
        }
        @media all and (max-width: 729px) {
            height: $item-side-1-in-row-h;
            width: $item-side-1-in-row-w;
        }
    }
}
/*---*/
