
@media (max-width: 500px){
  .responses{
    display: none;
  }
}

.photo-container{
  overflow: hidden;
}
.about-us-img {
    width: ;
}
.about-us-description p {
    margin-bottom: 30px;
}
.warning-col {
    margin-left: -15px;
}
.warning {
    padding: 20px 50px;
    border: 2px solid #eee;
    background: #d0eaf7 url("/static/academy_home/images/gradient.png");
}
.warning .btn-sm{
    display: none;
}
@media (max-width: 500px){
  .warning{
    padding: 0;
  }

  .warning .btn-lg{
    display: none;
  }

  .warning .btn-sm{
    display: inline-block;
    font-size: 15px;
  }
}
.warning h1 {
    margin: 0;
    padding: 10px 0;
    line-height: 25px;
    font-size: 24px;
    color: #4a5154;
    font-family: "Arial";
    text-transform: none;
}
.warning .warning-col span {
    font-size: 18px;
}
.comment-title {
    font-size: 18px;
    margin-bottom: 25px;
}
.col-lg-12 > .warning {
    margin-bottom: 30px;
}
#carousel-review {
    padding: 50px 50px 30px;
    border: 2px solid #eee;
    margin-bottom: 50px;
}
#carousel-review .carousel-control {
    width: 5%;
}
#carousel-review .right, #carousel-review .left {
    background: none;
}
#carousel-review .item {
    padding: 1px 30px 25px 30px;
}
#carousel-review .item p {
    color: #a9a9a9;
}
#carousel-review .content::before, #carousel-review .content::after {
    position: absolute;
    width: 24px;
    height: 18px;
    content: "";
    background: url("/static/academy_home/images/quote.png");
}
#carousel-review .content::before {
    left: -1px;
    top: 15px;
}
#carousel-review .content::after {
    bottom: -1px;
    right: -1px;
}
.chevron {
    width: 30%;
    position: absolute;
    top: 40%;
}
.chevron-left {
    left: 5%;
}
.chevron-right {
    right: 5%;
}

/*#man_on_beach{
  overflow: hidden;
  max-height: 300px;
}

#man_on_beach img{
  position: relative;
  top: -80px;
}*/


/*.price-legend, .price-header, .price-content {
    color: #fff;
}
.price-item {
    width: 199px;
    text-align: center;

    display: inline-block;
}
.price-legend {
text-align: center;
    text-transform: uppercase;
    position: relative;
    left: -84px;
    bottom: -3px;
    position: absolute;

    display: inline-block;
    background-color: #7fbfd9;
}
.price-legend td {

    height: 68px;
    width: 100px;
}
.price-legend tr {
    border-bottom: 2px solid #75b0c8;
}
.price-header {
    margin-bottom: -10px;
    background-color: #29ade4;

}

.price-header .price-caption {
    display: table;
    height: 90px;
    width: 100%;
    padding: 0 30px;
    font-size: 22px;
    border-bottom: 2px solid #3ea7d2;
}
.price-header .price-caption .name {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
}
.price-header .price-caption span {
    display: block;
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 16px;
}
.price-header .price-per-lesson {
    padding: 10px 0;
    font-size: 32px;
}
.price-header .price-per-lesson span {
    font-style: italic;
    display: block;
    font-size: 16px;
    margin-top: -5px;
}
.price-content {
    background-color: #8dd4f1;
}
.triangle-border {
    background: url('/static/academy_home/images/triangle.png');
    width: 100%;
    height: 13px;
    left: 125px;
}

.table-row {}
.prices-list {
    width: 100%;
    font-size: 32px;
}
.prices-list tr {
    border-bottom: 2px solid #82c3de;
}

.prices-list tr:last-child {
    border-bottom: none;
}
.prices-list tr td {
    padding: 10px 0;
}

.2-surfers-legend{
  position: absolute;
  left: -100px;
}*/


/* --- START Table with dives --- */

.triangle-border {
    background: url('/static/academy_home/images/triangle.png') 100% no-repeat;
    width: 101%;
    height: 13px;
    left: 125px;
    background-size: 100% auto;
}
.recomended + .triangle-border {
    background: url('/static/academy_home/images/triangle recommended.png') 100% no-repeat;
    width: 101%;
    height: 13px;
    left: 125px;
    background-size: 100% auto;
}
.prices-group-container {
    text-align: center;
    margin-bottom: 10px;
}
.prices-group {
    display: inline-block;
    margin-top: 3px;
    position: relative;
    text-align: center;
}
@media (min-width: 1200px) {
    div .prices-group:first-child {
        margin-top: 3px;
        position: relative;
        padding-left: 100px;
        /*background: #7fbfd9;*/
    }
}
@media (max-width: 1199px) {
    .prices-group {
        margin: auto;
        margin-top: 3px;
        position: relative;
        padding-left: 75px;
    }
}
.prices-container {
    display: inline-block;
    margin-right: -1px;
}

.prices-group-container .prices-group:nth-child(2) .prices-container .legend{
  display: none;
}

@media (max-width: 1200px) {
  .prices-group-container .prices-group:nth-child(2) .prices-container .legend{
    display: inline-block;
  }
}

.prices-container .legend {
    text-align: center;
    display: inline-block;
    background: #7fbfd9;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #75b0c8;
}
.prices-container .column-item {
    width: 209px;
    /*return to 250px later*/
    display: inline-block;
    background: #fff;
}
.column-item .price-header {
    color: #fff;
    background: #29ADE4;
    text-align: center;
}
.column-item .recomended {
    background: #40bc02;
}
.column-item .price-header .price-caption {
    display: flex;
    height: 90px;
}
.column-item .price-header .price-caption p {
    /*padding: 0 30px;*/
    font-size: 22px;
    /*border-bottom: 2px solid #3ea7d2;*/
    text-transform: capitalize;
    margin: auto;
}
.column-item .price-header .price-caption p span {
    display: block;
    font-size: 16px;
}
.column-item .price-header .price-per-lesson {
    margin-bottom: 0;
    font-size: 40px;
    border-top: 2px solid #3ea7d2;
}
.column-item .price-header .price-per-lesson span {
    display: block;
    font-size: 16px;
    font-style: italic;
}
.price {
    padding: 15px 10px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    background: #8dd4f1;
    border-bottom: 2px solid #75b0c8;
}
.prices-container .row-1, .row-2, .row-3 {
    position: relative;
}
.prices-container .legend {
    padding: 9px;
    width: 100px;
    bottom: 0;
    left: -100px;
    position: absolute;
    height: 67px;
}
.prices-container .legend .table {
    height: 100%;
    display: table;
}
.prices-container .legend span {
    display: table-cell;
    vertical-align: middle;
}
.prices-container .row-2 .legend {
    height: 100%;
}
.prices-container .row-3 .legend {
    .padding: 0;
    top: 0;
    height: 67px;
    border: none;
}
.prices-container .row-3 .price {
    border: none;
}
.we-reccommended {
    position: relative;
    display: flex;
    left: -2%;
    width: 104%;
    bottom: -2px;
    font-size: 20px;
    border-top: 2px solid #f9bf4d;
    border-bottom: 2px solid #f9bf4d;
    background: #f6a300;
}
.we-reccommended span:nth-child(2) {
    margin: auto;
}
.we-reccommended .star {
    z-index: -1;
    position: absolute;
    width: 19px;
    height: 24px;
    background: url("/static/academy_home/images/star.png") no-repeat center;
    background-size: 19px 19px;
}
.we-reccommended .star-left {
    left: 10px;
}
.we-reccommended .star-left:before {
    content: "";
    position: absolute;
    bottom: -13px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #835700 transparent transparent;
}
.we-reccommended .star-right:after {
    content: "";
    position: absolute;
    bottom: -13px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #835700 transparent transparent transparent;
}
.we-reccommended .star-right {
    right: 10px;
}

/* END Table with dives --- */
