body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

body > header{
    margin-bottom: 50px;
}

h1{
    text-transform: uppercase;
}
/*--- START LESSONS ---*/

.col-centered {
    float: none;
    margin: 0 auto;
}

.header-container {
    background-color: #1fa3ff;
}

.vertical-align {
    display: flex;
    align-items: center;
}

header ul.navbar-nav {
    text-transform: uppercase;
}

header ul.navbar-nav li a {
    color: #fff;
}

header ul.navbar-nav li a:hover,
header ul.navbar-nav li a:focus {
    background-color: #3fba02;
}

@media(max-width: 767px) {
    header .navbar-collapse {
        margin-top: 50px;
    }
}

.center-on-mobile {}

@media (max-width: 768px) {
    .center-on-mobile {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.jumbotron {
    margin-top: -22px;
    background: url("/static/academy_home/images/bg-img-big.png") center no-repeat #89cfff;
    min-height: 500px;
}

.jumbotron .main-container {
    top: 250px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

@media (min-width: 767px) {
    .jumbotron .main-container {
        padding: 30px;
        left: -5%;
        width: 115%;
    }
    .jumbotron .main-container .btn-green {
        margin-left: 100px;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    .jumbotron .main-container .btn-green {
        margin-left: 50px;
    }
}

@media (min-width: 1200px) {
    .jumbotron .main-container {
        padding: 30px;
        left: -5%;
        width: 140%;
    }
    .jumbotron .main-container .btn-green {
        margin-left: 110px;
    }
}

.jumbotron .main-container .text-header {
    color: #fff;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.promo {
    margin-top: -35px;
}

.promo .container-fluid {
    background: #d0eaf7 url("/static/academy_home/images/gradient.png");
    padding: 10px 0;
}

.card-container {
    padding: 5px 15px 15px 15px;
    width: 280px;
    margin: 30px 10px;
    background-color: #fff;
}

.card-container a {
    /*width: 40%;*/
    text-transform: uppercase;
}

.card-container .text-description {
    margin: 20px 0;
}

.card-container .card-price {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-container .photo-container {
    position: relative;
}

.card-container .photo-container img {
    width: 100%;
    margin-top: 15px;
}

.card-container .photo-container .header {
    position: absolute;
    padding: 10px 5px;
    top: -25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    background-color: #28ade4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.card-container .btn-read-more {
    width: 110px;
}

.btn-green {
    text-transform: uppercase;
    color: #fff;
    background: #3fba02;
}

.btn-green:hover,
.btn-green:active {
    background: #3fba02;
}

.btn-read-more {
    color: #fff;
    background-color: #28ade4;
    border-radius: 2px;
}

.btn-read-more:hover,
.btn-green:hover {
    color: #000;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.about_us {
    clear: both;
}

.lets_go_surfing {
    background: #d0eaf7 url("/static/academy_home/images/gradient.png");
}

.cards {
    display: table;
}

.cards-row {
    display: table-row;
}

.lets_go_surfing {
    padding: 30px 0;
}

.lets_go_surfing span {
    padding: 0px;
    font-size: 36px;
    color: #555;
}

.card .photo {
    position: relative;
}

.photo-container {
    background-color: #fff;
    width: 220;
    padding: 5px;
    border: 2px solid #eee;
    margin-bottom: 5px;
}

.photo-container img {
    width: 100%;
}

footer {
    background-color: #d0eaf7;
}

footer >.row {
    background-color: #89cfff;
}

footer .col-text {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
}

footer .contact-text {
    margin-bottom: 25px;
}

footer .row:nth-child(2) {
    margin-top: 3px;
}

footer .main-header {
    padding: 20px 0;
}

footer .main-body {
    padding-bottom: 20px;
}

footer .map-container {
    margin-bottom: 30px;
}

footer nav .navbar-nav li a {
    text-transform: uppercase;
    color: #000;
}

footer ul.navbar-nav li a:hover,
footer ul.navbar-nav li a:focus {
    color: #fff;
    background-color: #3fba02;
}

.contact-header {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-text {
    font-size: 15px;
}

.navbar-collapse-centered {
    text-align: center;
    float: none;
}

@media all {
    .navbar-collapse-centered {
        text-align: center;
        float: none;
    }
}

.navbar-nav .navbar-nav-centered {
    display: inline-block;
}

.collapse-button-bg {
    background-color: #d0eaf7;
}

.icon-bar-black {
    background-color: #000;
}


/*.jumbotron .container {}*/


/*  --- END LESSONS --- */


/* --- START ABOUT US ---*/



/* --- END ABOUT US --- */
