<div class="row">
    <div ui-view class="col-lg-12">
    </div>
    <div class="catalogue-container">
        <h3>Каталог</h3>
        <div class="product row" ng-repeat="item in goods.items">
            <div class="col-lg-4 product-img">
                <a><img src="{{item.img}}" /></a>
            </div>
            <div class="col-lg-7">

                <h1>{{item.title}}</h1>
                <p>{{item.text}}</p>
                <a class="btn btn-xs btn-comment" rel="button" ng-click="goods.toggleReviews(item)">комментарии <span>{{item.reviews.length != 0 ? item.reviews.length : ''}}</span> <span ng-class="item.isCollapsed?'glyphicon glyphicon-menu-down':'glyphicon glyphicon-menu-up'"></span></a>

                <div class="row product-comments" uib-collapse="item.isCollapsed">
                    <div class="col-lg-12">
                        <p ng-hide="goods.userLogined">
                          войдите или зарегестрируйтесь, чтобы оставить комментарий
                        </p>
                        <form class="comment-form" ng-hide="!goods.userLogined">
                            <h3>Оценка</h3>
                            <rzslider rz-slider-model="item.userRate.value" ></rzslider>
                            <textarea ng-model="item.userReview"></textarea>
                            <a rel="button" class="btn btn-comment" ng-click="goods.sendReview(item)">Оставить комментарий <span class="glyphicon glyphicon-pencil"></span></a>
                        </form>
                        <div class="comments-container">
                            <div class="comment" ng-repeat="review in item.reviews">
                                <div class="comment-header">
                                    <span class="comment-header-user">{{review.created_by.username}}</span>
                                    <span class="pull-right">{{review.created_at|slashedDate}} </span>
                                </div>
                                <div class="comment-header">
                                   <span class="pull-right">{{review.rate}}/5</span>
                                </div>
                                <p class="comment-body">{{review.text}}</p>
                            </div>
                        </div>
                          <a class="btn btn-xs btn-comment comments-hide" rel="button" ng-click="goods.toggleReviews(item)">Свернуть <span class="glyphicon glyphicon-menu-up"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>
