<div class="full-description-container" style="">
    <a ui-sref="goods">закрыть</a>
    <div class="col-lg-5">
        <h3>{{description.item.title}}</h3>
        <img src="{{description.item.img}}" />
        <h3>Описание</h3>
        <p>{{description.item.text}}</p>

    </div>
    <div class="col-lg-7">
        Комментарии
        <div ng-repeat="review in description.productReviews">
            <div class="review-container">
                <h5>{{review.created_at}} {{review.created_by.username}}</h5>
                <p>
                    {{review.text}}
                </p>
            </div>
        </div>
    </div>
</div>
