/*html, body { width:auto;   x-overflow:hidden; }*/

section.container {
    padding-left: 25px;
}
body {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
body > header, body > footer {
    background-color: #49c;
}
body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    /*min-height: 10px;*/
}
body > header {
    height: auto;
    padding: 10px 10px 10px 5px;
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
    /*align-items: center;*/
}
.logo {
    margin: auto;
    /*margin-top: -20px;*/
    display: inline-flex;
    padding: 10px 10px 10px 0;
}
.logo a {
    font-size: 30px;
    display: inline-flex;
    width: 50px;
    height: 40px;
    padding-left: 50px;
    color: #fff;
    background: url('/static/goods/images/logo.png') center no-repeat;
    background-size: contain;
    align-items: center;
}
.logo a:link, .logo a:visited, .logo a:active {
    text-decoration: none;
}
.logo a:hover, .login-panel a:hover {
    color: #e0e0e0;
}
.header-menu {
    padding-top: 10px;
}
.header-menu a.dropdown-toggle {
    display: block;
    height: 40px;
    width: 40px;
    background-size: contain;
}
.header-menu .icon-not-logined {
    background: url('/static/goods/images/key.png') center no-repeat;
}
.header-menu .icon-logined {
    background: url('/static/goods/images/hamburger-white.png') center no-repeat;
}
.header-menu .dropdown-menu {
    background: #49c;
}
.header-menu .dropdown-menu li a {
    margin: 10px 0 10px;
}
.header-menu .dropdown-menu a {
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.login-panel {
    text-align: center;
    color: #fff;
    /*display: inline-flex;
    align-items: center;*/
    margin-top: 15px;
    padding-top: 5px;
}
.login-panel span {
    margin-right: 5px;
}
.login-panel a {
    display: inline-flex;
    /*align-items: center;*/
    color: #fff;
}
.login-panel span {
    margin-right: 5px;
}
.login-panel span.label-text {}
.login-panel span:last-child {
    margin-right: 0;
}
.login-panel span {
    font-size: 16px;
}

/*@media all and (min-width: 320px){
  .login-panel{
    margin-top: 50px;
  }
}*/


/*body>section.container{
  padding: 10px;
}*/

.login-panel a:link, .login-panel a:visited, .login-panel a:active {
    text-decoration: none;
    /*cursor: pointer;*/
}
.login-panel span.glyphicon {
    /*margin-top: -2px;*/
    font-size: 20px;
}
.product {
    margin-right: 0;
    margin-bottom: 80px;
    background-color: #fff;
}
.product-comments {
    height: auto;
}
.product-img {
    text-align: center;
    overflow: hidden;
}
.product-img img {
    height: 250px;
}
.btn.btn-comment {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #49c;
}
.btn.btn-comment:hover {
    color: #49c;
    border: 1px solid #49c;
    background-color: #fff;
}

.comment-form{
  background: rgba(240, 240, 240, 0.4);
}

.comment-form textarea {
    width: 100%;
    height: 200px;
}
.comment-form a.btn.btn-comment {
    margin-top: 20px;
}
.product-comments {
    padding-top: 20px;
}
.comments-container .comment .comment-label {
    font-size: 20px;
    font-weight: bold;
}
.comments-container .comment .comment-header {
    min-height: 20px;
    padding: 2px 5px;
    background-color: #f5f5f5;
}
.comment-header-user {
    font-size: 18px;
    font-weight: bold;
}
.comments-container .comment .comment-body {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 3px 5px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.dropdown > a {
    color: #fff;
    font-size: 24px;
}

/*@media handheld{
  .login-panel span.glyphicon-log-in{
    color: #000;
  }
}*/

.login-form, .register-form {
    padding: 0 10px;
    text-align: center;
}
.login-form form, .register-form form {
    margin: auto;
    width: 320px;
    background: rgba(240, 240, 240, 0.2);
    padding: 40px 20px;
}

/*.register-form form{
  width: 400px;
}*/

.login-form form label, .custom-form-btn, .login-form input.form-control,
.register-form form label, .custom-form-btn, .register-form input.form-control {
    margin-bottom: 20px;
}
.custom-form-btn {
    background: #49c;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.custom-form-btn:hover {
    background: #fff;
    color: #49c;
    border: 1px solid #49c;
}
.custom-form-btn:last-child {
    margin-right: 0;
}
.btn-custom-size {
    width: 120px;
}

.comments-hide{
  margin-top: 20px;
}

@media all and (max-width: 350px){
  .login-form form, .register-form form {
      width: 250px;
      background: rgba(240, 240, 240, 0.2);
      padding: 20px 20px;
  }

  .custom-form-btn{
    margin-right: 0;
  }

}
