<div class="login-form">
    <h1>Вход на сайт</h1>
    <form>
        <input class="form-control" placeholder="логин" type="text" ng-model="loginForm.loginStr" />
        <input class="form-control" placeholder="пароль" type="{{loginForm.passwordFieldType}}" ng-model="loginForm.passwordStr" />
        <label>показать пароль
            <input type="checkbox" ng-click="loginForm.showPassword()">
        </label>
        <div>
            <button class="btn custom-form-btn btn-custom-size" ng-click="loginForm.login()">Вход</button>
            <button class="btn custom-form-btn btn-custom-size" ng-click="loginForm.cancel()">Отмена</button>
        </div>
    </form>
</div>
