<div class="register-form">
    <h1>Регистрация на сайте</h1>
    <form>
        <input class="form-control" placeholder="логин" type="text" ng-model="registerForm.loginStr" />
        <input class="form-control" placeholder="пароль" type="{{registerForm.passwordFieldType}}" ng-model="registerForm.passwordStr" />
        <label>показать пароль
            <input type="checkbox" ng-click="registerForm.showPassword()">
        </label>
        <div>
            <button class="btn custom-form-btn btn-custom-size" ng-click="registerForm.register()">Регистрация</button>
            <button class="btn custom-form-btn btn-custom-size" ng-click="registerForm.cancel()">Отмена</button>
        </div>
    </form>
</div>
