/* Portfolio header*/
//header variables
$header-height: 60px;

.header-item {
    line-height: $header-height;
    display: inline-block;
}

.header {
    padding: 0 10px;
    display: flex;
    //
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //
    background: $bg-first-color;
}

.logo {
    @extend .header-item;
    //
    &__link {
        @extend .menu-link;
        font-size: 20px;
    }
}

.toggle-menu {
    @extend .header-item;
    @extend .menu-link;
    //
    display: none;
    padding: 0;
    margin: 0;
    //
    line-height: $header-height;
    border: 0;
    //
    font-weight: bold;
    font-size: 24px;
    //
    background: transparent;
    //
    @media screen and (max-width: $width-mobile) {
        display: inline-block;
    }

    .icon-hamburger {}
}

.header-menu {
    @extend .header-item;
    //
    @media screen and (max-width: $width-mobile) {
        width: 100%;
        display: none;
        //
        &.open {
            display: block;
        }
    }
}

.menu {
    padding: 0;
    margin: 0;
    //
    text-align: center;
    //
    &__item {
        display: inline-block;
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: $width-mobile) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__link {
        @extend .menu-link;
    }
}

.menu-hamburger-svg {
    // height: 50px;

    display: inline-block;
    height: $header-height;
    width: 50px;
    //
    background: url("../images/hamburger.svg") no-repeat center;
    background-size: cover;
}

.icon-hamburger {
    font-weight: bolder;
    font-size: 50px;
    &::after {
        // content: "☰";
        // content: "menu";
        // content: 'Ξ';
        content: '=';
    }
}
