.field.hidden, .hidden.carousel, .project-info .hidden.text-field, .project-info .hidden.project-info__link, .project-info .hidden.project-info__repository, .project-info .hidden.project-info__technologies, .project-info .hidden.project-info__description, .project-info .hidden.project-info__responsibilities, .hidden.project-info__header {
  display: none; }

/* normalize */
html, body {
  margin: 0;
  padding: 0; }

body {
  background: #26292e; }

h2, h3 {
  margin: 0;
  color: #fefefe; }

.field.hidden, .hidden.carousel, .project-info .hidden.text-field, .project-info .hidden.project-info__link, .project-info .hidden.project-info__repository, .project-info .hidden.project-info__technologies, .project-info .hidden.project-info__description, .project-info .hidden.project-info__responsibilities, .hidden.project-info__header {
  display: none; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.menu-link, .logo__link, .toggle-menu, .menu__link, .options li {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "type here something";
  color: #fefefe;
  transition-duration: 0.2s; }
  .menu-link:hover, .logo__link:hover, .toggle-menu:hover, .menu__link:hover, .options li:hover {
    color: #de5e60;
    cursor: pointer; }

.field.hidden, .hidden.carousel, .project-info .hidden.text-field, .project-info .hidden.project-info__link, .project-info .hidden.project-info__repository, .project-info .hidden.project-info__technologies, .project-info .hidden.project-info__description, .project-info .hidden.project-info__responsibilities, .hidden.project-info__header {
  display: none; }

/*carousel block*/
.carousel {
  background: #282b31; }
  .carousel__panel {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #2f3238; }
  .carousel__image {
    height: 300px;
    width: 300px; }
  .carousel__control, .carousel__next, .carousel__prev {
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fefefe;
    background: #26292e;
    transition-duration: 0.2s; }
    .carousel__control:hover, .carousel__next:hover, .carousel__prev:hover {
      background: #de5e60; }
  .carousel__next {
    float: right; }
  .carousel__prev {
    float: left; }

.carousel .item {
  margin: 3px; }

.carousel .item img {
  display: block;
  width: 100%;
  height: auto; }

/* Portfolio header*/
.header-item, .logo, .toggle-menu, .header-menu {
  line-height: 60px;
  display: inline-block; }

.header {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #26292e; }

.logo__link {
  font-size: 20px; }

.toggle-menu {
  display: none;
  padding: 0;
  margin: 0;
  line-height: 60px;
  border: 0;
  font-weight: bold;
  font-size: 24px;
  background: transparent; }
  @media screen and (max-width: 550px) {
    .toggle-menu {
      display: inline-block; } }

@media screen and (max-width: 550px) {
  .header-menu {
    width: 100%;
    display: none; }
    .header-menu.open {
      display: block; } }

.menu {
  padding: 0;
  margin: 0;
  text-align: center; }
  .menu__item {
    display: inline-block;
    margin-right: 50px; }
    .menu__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 550px) {
      .menu__item {
        width: 100%;
        margin-right: 0; } }

.menu-hamburger-svg {
  display: inline-block;
  height: 60px;
  width: 50px;
  background: url("../images/hamburger.svg") no-repeat center;
  background-size: cover; }

.icon-hamburger {
  font-weight: bolder;
  font-size: 50px; }
  .icon-hamburger::after {
    content: '='; }

/*Portfolio main part*/
/*filter blocks*/
.works .filter-toggle {
  height: 50px;
  width: 50px;
  opacity: 0.7;
  background: url("/static/images/portfolio/works_app/filter.png") center no-repeat;
  background-color: #2f3238;
  background-size: contain;
  transition-duration: 0.2s; }
  .works .filter-toggle.active {
    height: 20px;
    width: 20px;
    opacity: 1;
    background-image: url("/static/images/portfolio/works_app/filter-close.png");
    background-color: #26292e; }
    .works .filter-toggle.active:hover {
      border-radius: 50%;
      background-color: #2f3238; }
  .works .filter-toggle:hover {
    opacity: 1;
    background-color: rgba(150, 150, 150, 0.5); }

.works .filter-toggle-sticky-wrapper {
  position: absolute;
  z-index: 9999;
  left: 0;
  display: none;
  cursor: pointer; }
  @media all and (max-width: 550px) {
    .works .filter-toggle-sticky-wrapper {
      display: inline-block; } }

.works .filter-sticky-wrapper {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  margin-right: 0;
  margin-left: 20px; }
  @media all and (max-width: 550px) {
    .works .filter-sticky-wrapper {
      width: 100%;
      margin-left: 0;
      text-align: center; } }
  @media all and (max-width: 550px) {
    .works .filter-sticky-wrapper.hidden-on-mobile {
      display: none; } }

.works .works-filter {
  text-align: left;
  background: #26292e; }
  @media all and (max-width: 550px) {
    .works .works-filter {
      width: 100%;
      margin-left: 0;
      text-align: center; } }
  .works .works-filter__header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fefefe; }
    @media all and (max-width: 550px) {
      .works .works-filter__header {
        font-size: 28px; } }

/*---*/
/*Options*/
.options {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none; }
  @media all and (max-width: 550px) {
    .options {
      text-align: center; } }
  .options li {
    text-transform: none;
    font-size: 22px;
    color: #7f8289; }
  .options__item input,
  .options__item label {
    cursor: pointer; }
  .options__item, .options__submenu, .options__submenu-header {
    margin-bottom: 25px; }
  .options__submenu-header {
    display: inline-block; }
  .options__checkbox {
    display: none; }
  .options__checkbox-label.checked {
    color: #de5e60; }

/*---*/
/*modal project info classes*/
.project-info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  overflow: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0; }
  .project-info__preload {
    width: 100%;
    height: 400px;
    background: url("/static/images/portfolio/works_app/load.gif") center no-repeat #2f3238;
    background-size: 50px; }
  .project-info.modal {
    display: none; }
  .project-info.modal.open {
    display: block;
    opacity: 1;
    transition: opacity 400ms ease-in; }
  .project-info__body {
    position: relative;
    width: 60%;
    margin: 11px auto;
    display: inline-block;
    text-align: center;
    color: #fefefe;
    background: #2f3238;
    transition: width 300ms ease-in-out; }
    @media screen and (max-width: 960px) {
      .project-info__body {
        width: 80%; } }
    @media screen and (max-width: 550px) {
      .project-info__body {
        width: 100%; } }
  .project-info__close {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 24px;
    border-radius: 12px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 3px #000;
    color: #fefefe;
    background: #2f3238;
    transition-duration: 0.2s; }
    .project-info__close:hover {
      color: #de5e60; }
    @media screen and (max-width: 550px) {
      .project-info__close {
        right: 10px; } }
  .project-info .text-field, .project-info .project-info__link, .project-info .project-info__repository, .project-info .project-info__technologies, .project-info .project-info__description, .project-info .project-info__responsibilities {
    width: 70%;
    text-align: left;
    display: inline-block;
    margin-top: 10px; }
  .project-info .link-field a, .project-info .project-info__link a, .project-info .project-info__repository a {
    display: inline-block;
    color: #fefefe; }
    .project-info .link-field a:hover, .project-info .project-info__link a:hover, .project-info .project-info__repository a:hover {
      color: #de5e60; }

/*---*/
/*projects catalog*/
.works {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 20px;
  text-align: center;
  background: #26292e; }
  .works:after {
    content: " ";
    display: block;
    clear: both; }
  .works__header {
    margin: 0 0 20px;
    font-size: 28px;
    color: #fefefe; }

.works-list {
  width: 73.68421%;
  float: right;
  margin-right: 0;
  text-align: center; }
  @media all and (max-width: 550px) {
    .works-list {
      width: 100%; } }
  .works-list__item-container {
    max-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    transition: width 300ms ease-in-out; }
    @media all and (max-width: 1645px) {
      .works-list__item-container {
        max-width: 900px; } }
    @media all and (max-width: 1055px) {
      .works-list__item-container {
        max-width: 600px; } }
    @media all and (max-width: 729px) {
      .works-list__item-container {
        width: 100%;
        text-align: center;
        justify-content: center; } }
  .works-list__item {
    box-sizing: content-box;
    display: none;
    margin: 0 50px 50px 0;
    transition: margin 300ms ease-in-out, width 3000ms ease-in-out; }
    @media all and (max-width: 1280px) {
      .works-list__item {
        margin: 0 25px 25px 0; } }
    @media all and (max-width: 1150px) {
      .works-list__item {
        margin: 0 5px 5px 0; } }
    .works-list__item.hidden {
      display: none; }
    .works-list__item.selected {
      display: inline-block; }
    @media all and (max-width: 320px) {
      .works-list__item {
        margin-right: 0; } }

.work-example__thumbnail {
  width: 250px;
  height: 200px;
  cursor: pointer;
  transition: width 300ms ease-in-out, height 300ms ease-in-out, box-shadow 100ms ease-in-out; }
  .work-example__thumbnail:hover {
    box-shadow: 0 0 48px -23px #fefefe; }
  @media all and (max-width: 729px) {
    .work-example__thumbnail {
      height: 250px;
      width: 300px; } }

/*---*/
/*about blocks*/
.about {
  padding-top: 10px;
  text-align: center;
  background: #2f3238; }
  .about h2 {
    margin-bottom: 19px; }

.person-description {
  padding: 20px; }
  .person-description__text {
    font-size: 16px;
    color: #7f8289; }
  .person-description__photo {
    border: 3px solid #2f3638;
    border-radius: 15px; }

/*---*/
.contacts {
  background: #2f3238; }

/*---*/
body > footer {
  background: #26292e; }
