@charset "UTF-8";
body {
  font-family: arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9B1818 0 0 0 2px;
  border-color: #9B1818;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
  vertical-align: top;
}

h2 {
  font-family: "OpenSans";
  font-size: 46px !important;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
}

h3 {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0 0;
  color: #fff;
}

.top_line {
  background: #272727;
}
.top_line span {
  font-size: 18px;
  font-family: "OpenSans";
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
.top_line .phone {
  position: relative;
}
.top_line .phone span::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon/iphone.png);
  width: 15px;
  height: 30px;
  left: -20px;
  top: 5px;
}
.top_line .contacts {
  line-height: 38px;
}
.top_line .contacts a {
  margin-left: 20px;
}
.top_line .contacts a:first-child {
  margin: 0;
}

.top_menu {
  min-height: 80px;
  background: #fff;
}
.top_menu .logo {
  margin: 9px 0;
}
.top_menu .header_menu {
  margin: 21px 0;
}
.top_menu .header_menu ul li {
  margin: 10px 0;
}
.top_menu .header_menu ul li a {
  color: black;
  font-family: "OpenSans";
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  padding: 8px 20px;
}
.top_menu .header_menu ul li a:hover {
  text-decoration: none;
  color: #000;
  background: #FFE00F;
  border-radius: 7px;
}

.active {
  text-decoration: none;
  color: #000;
  background: #FFE00F;
  border-radius: 7px;
}

.bg_header {
  margin: 0 auto;
  max-width: 1920px;
  max-height: 660px;
}
.bg_header h1 {
  font-size: 62px;
  line-height: 62px;
  color: #fff;
  font-weight: 400;
  font-family: "OpenSans";
}
.bg_header #btn {
  background: none;
  border-radius: 8px;
  border: 2px solid #fff;
  opacity: 0.8;
  padding: 8px 25px;
  margin: 25px 0 0 0;
  color: #fff;
  font-size: 18px;
}
.bg_header #btn:hover {
  background: #fff;
  opacity: 0.8;
  color: #000;
}

#wrap_descr {
  top: 20%;
}

.callcenter {
  background: #fff;
}
.callcenter .feedback {
  text-align: center;
  margin: 51px 0;
}
.callcenter .feedback p {
  color: black;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.services .services_descr {
  padding: 20px 0 60px;
}
.services h2 {
  color: #000;
  margin: 15px 0;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.services .service_content {
  text-align: center;
  margin: 30px 0;
  background: #fff;
}
.services .service_content2 {
  text-align: center;
  margin: 30px 0;
  background: #fff;
}

.service_cont,
.service_cont2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.service_cont img,
.service_cont2 img {
  width: 60%;
  top: 0;
}
.service_cont img:nth-child(5),
.service_cont2 img:nth-child(5) {
  margin-top: 50px;
}
.service_cont p,
.service_cont2 p {
  font-size: 16px;
  font-family: "Opensans";
  margin-top: 20px;
}

.services_descr {
  text-align: center;
}
.services_descr span {
  font-size: 30px;
  font-family: "Opensans";
  font-weight: bold;
  line-height: 60px;
  color: #494949;
}

.btn_price {
  padding: 15px 60px;
  background: #FFE00F;
  font-size: 26px;
  font-family: "Opensans";
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #000;
  margin: 70px 0 20px 0;
  color: #000;
}
.btn_price:hover {
  background: #DFC300;
  color: #000;
}

.customer .customer_service {
  background: #fff;
  text-align: center;
}
.customer .customer_service h2 {
  color: #000;
  margin: 15px 0;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.customer .customer_descr {
  padding: 40px 0 60px;
  background: #fff;
}
.customer .customer_descr .img_wrap {
  text-align: center;
  width: 100%;
}
.customer .customer_descr p {
  color: black;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0 0;
}

.advantages .adv_cont {
  background: #fff;
  text-align: center;
}
.advantages .adv_cont h2 {
  color: #000;
  margin: 15px 0;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.advantages .adv_descr {
  padding: 60px 0 30px;
  background: #fff;
}
.advantages .adv_descr span {
  font-size: 30px;
  font-family: "Opensans";
  font-weight: bold;
  line-height: 60px;
  color: #494949;
}
.advantages .adv_descr ul {
  margin-left: 40px;
}
.advantages .adv_descr ul li {
  display: block;
  color: black;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}
.advantages .adv_descr ul li::before {
  content: "";
  position: absolute;
  background-image: url(../image/save.png);
  width: 31px;
  height: 30px;
  left: 15px;
}

.feedback {
  text-align: center;
}

.myContact .myContact_cont {
  background: #fff;
  text-align: center;
}
.myContact .myContact_cont h2 {
  color: #000;
  margin-bottom: 30px;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
.myContact .myContact_cont span {
  color: black;
  font-family: "OpenSans";
  font-size: 21px;
  font-weight: 400;
  line-height: 40px;
}
.myContact .map {
  margin: 40px auto 0;
  background: #fff;
  min-height: 480px;
  max-width: 1920px;
}

footer {
  background: #2A2A2A;
  padding-bottom: 10px;
}
footer .logo2 {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
footer p {
  color: white;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
footer .number {
  margin: 20px 0 0 40px;
  display: inline-block;
}
footer .number::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon/iphone.png);
  width: 15px;
  height: 30px;
  margin-left: -22px;
}
footer .adress {
  text-align: right;
}
footer .adress p {
  margin: 20px 0 0;
  display: inline-block;
  vertical-align: top;
}
footer .contacts {
  margin-top: 20px;
  text-align: right;
}
footer .contacts img {
  margin: 0 15px;
}

/*Форма обратной связи */
#hidden_form {
  max-width: 380px;
  margin: 100px auto;
  position: relative;
  background-color: #F9E140;
  text-align: center;
  border: 4px solid #000;
  border-radius: 8px;
  font-family: "OpenSans";
  font-weight: normal;
}
#hidden_form h2 {
  color: black;
  padding: 0 30px;
  font-size: 30px;
}
#hidden_form label {
  padding: 0 50px;
  display: block;
}
#hidden_form label span {
  display: block;
  text-align: left;
  padding: 10px 0 5px;
  font-size: 16px;
}
#hidden_form label input {
  width: 100%;
  padding: 5px;
  color: #000;
}
#hidden_form .button {
  margin: 30px 0;
  padding: 10px 25px;
  font-size: 18px;
  background-color: #000;
  border: 2px solid #000;
}
#hidden_form .button:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

#hidden_price {
  margin: 100px auto;
  min-width: 320px;
  max-width: 500px;
  background-color: #FFFBE3;
  font-family: "OpenSans";
  font-weight: normal;
  border: 4px solid #000;
  position: relative;
}
#hidden_price p {
  padding: 10px;
  font-size: 16px;
}
#hidden_price h4 {
  text-align: center;
  font-size: 30px;
}
#hidden_price ul {
  padding: 10px;
}
#hidden_price ul li {
  display: block;
  padding: 5px 0;
  font-size: 16px;
}
#hidden_price ul li span {
  display: block;
  text-align: right;
  position: absolute;
  margin-top: -20px;
  right: 7%;
}
