/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
		.bg_header h1 {
			font-size: 52px;
			line-height: 52px;
		}
		footer#contacts { 
				text-align: center;
		}
		footer .adress {
			text-align: center;
		}
		footer .contacts {
			text-align: center;
		}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.top_menu {
		text-align: center;
	}
	.bg_header{ 
		text-align: center;
	}
	.bg_header #btn {
		margin-left: 0;
	}
	
	.img_wrap {
		padding-bottom: 30px;
		text-align: center;
	}
	.advantages .adv_descr {
		padding-bottom: 50px;
	}
		.bg_header h1 {
			font-size: 52px;
			line-height: 44px;
		}
		#wrap_descr {
			left: 20%;

		}
		.bg_header #btn { 
				margin-top: 15px;
		}
		.service_cont,
		.service_cont2  {
			width: 60% ;
			margin-bottom: 25px;
		}
		.services .services_descr {
			padding: 0 0 60px;
		}
		.first {
			margin-left: 20px;
		}


	


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.phone {
		display: none;
	}

	.top_line span {
		font-size: 16px;
	}
	.top_line {
		text-align: center;
	}
	.slider h1 {
		margin-left: 0px;
	}
	
	
	footer .adress {
		margin-top: -147px;
	}
	.bg_header {
		display: none;
	}
	.advantages .adv_descr ul li {
		font-size: 19px;
		line-height: 28px;
	}
	.customer .customer_descr p {
		font-size: 18px;
	}
		.service_cont,
		.service_cont2  {
			width: 60% ;
			margin-bottom: 25px;
		}
	.callcenter {
		background: #eee;
	}
	.callcenter .feedback p {
		color: #fff;
	}
	.callcenter {
    background: #272727
}




}
@media only screen and (max-width : 600px) {
		.service_cont,
		.service_cont2  {
			width: 80% ;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 36px !important;
		}
		.services_descr span {
			font-size: 24px;
		}
				.advantages .adv_descr span {
			font-size: 24px;
		}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		.service_cont,
		.service_cont2  {
			width: 100% ;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 28px !important;
		}
		.services_descr span {
			font-size: 22px;
		}
		.advantages .adv_descr span {
			font-size: 22px;
		}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)  {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.top_menu .header_menu {
		text-align: right;
		margin: 21px -7px 0 0;
	}
		.service_cont2 {
			margin-top: 34px	
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.top_menu .header_menu {
		text-align: right;
		margin: 21px 25px 0 0;
	}

	
}

@media (min-width: 1px) and (max-width: 420px) {
	
	.img_wrap img {
		width: 260px;
		height: 300px;
	}
	footer .adress {
		margin-top: 0;

	}
	footer .adress h3 {
		color: #393939;
	}

	footer .contacts img {
		margin-left: 0px;
		margin-right: 15px;
	}
	.bg_header h1 {
		font-size: 48px;
		margin-left: 0;
	}
	#hidden_form h2 {
		font-size: 29px
	}
 .btn_price { 
		padding: 15px 30px;
	}



}
@media (min-width: 1px) and (max-width: 510px) {
	.top_menu .header_menu ul li {
		margin: 15px 0;
	}
	#hidden_price h4 {
		font-size: 24px;
	}
	#hidden_price ul li {
		font-size: 13px;
	}
	#hidden_price ul li span {
		margin-top: -17px
	}

}