.header-lower{
    min-height: 80px;
}


.header-upper{
    background-color: #272727;
    padding: 7px 0;
    /*min-height: 62px;*/
}

.header-upper div p{
    color: #fff;
    font-size: 18px;
}


.header-phone:before{
    content: '';
    float: left;
    background-image: url("/static/you_service/images/iphone.png");
    width: 15px;
    height: 30px;
    left: -15px;
    top: -2px;
    /*left: -1px;
    top: -2px;*/
    position: relative;
}

.header-upper .socials a{
    margin-left: 20px;
}

#header-facebook-icon{
    height: 20px;
    width: 11px;
}

#header-vk-icon{
    height: 20px;
    width: 36px;
}

#header-instagram-icon{
    height: 20px;
    width: 20px;
}

.header-lower{
    background-color: #fff;
    min-height: 62px;
    padding: 8px 0;
}

.header .logo-image{
    width: 260px;
    height: 62px;
}

.header-menu{
    list-style: none;
    margin-top: 20px;
}

.header-menu li{
    display: inline-block;
}

.header-menu li a{
    padding: 8px 20px;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
}

.header-menu a:hover{
    background-color: #FFE00F;
}

.socials{
    margin-left: -20px;
}

.carousel item h1{
    font-size: 62px;
}

.callcenter{
    padding: 50px 0;
}

.callcenter-icon{
    height: 128px;
    width: 128px;
}

.callcenter .feedback{
    text-align: center;
}

.callcenter .feedback p{
    margin-top: 20px;
    font-size: 18px;
}

/*.services-header{
    text-align: center;
}*/

.services{
    overflow: hidden;
    text-align: center;
}

.services-header h1{
    font-size: 50px;
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-bottom: 50px;
}

.service p{
    font-size: 16px;
}

.button-price, .button-master-call{
    background-color: #FFE00F;
    padding: 15px 60px;
    border-radius: 15px;
    font-size: 26px;
    border: 2px solid #000;
    /*font-family: "Opensans";
    font-weight: bold;*/
    margin: 50px 0 30px;
}

.button-price:active, .button-price:hover,
.button-master-call:active, .button-master-call:hover{

    background-color: #DFC300;
}

.button-price:active,
.button-master-call:active{
    border: 2px solid #aaa;
}

.service-contact{
    font-size: 28px;
    /*margin-bottom: 12px;*/
    font-weight: bold;
    line-height: 60px;
    color: #494949;
}

.company-description, .advantages, .contacts{
    overflow: hidden;
    text-align: center;
}

.company-description h2, .advantages h2, .contacts h2{
    color: #000;
    margin: 15px 0px;
    display: inline-block;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.company-description .container .row .col-md-12{
    color: #000;
    font-family: "OpenSans";
    font-size: 18px;
    /*font-weight: 400;*/
    line-height: 30px;
    margin: 30px 0px 0px;
}

/*.advantages{
    text-align: center;
}*/

.advantages ul{
    list-style: none;
}

.advantages ul li{
    display: block;
    color: #000;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}


.advantages ul li:before{
    content: "";
    position: absolute;
    background-image: url('/static/you_service/images/save.png');
    width: 31px;
    height: 30px;
    left: 15px;
}

.contacts span{
    color: #000;
    font-family: "OpenSans";
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
}

.contacts .map{
    margin: 40px auto 0px;
    background: none repeat scroll 0% 0% #FFF;
    min-height: 480px;
    max-width: 1920px;
}

footer{
    text-align: center;
    background: none repeat scroll 0% 0% #2A2A2A;
    padding-bottom: 10px;
}

footer span{
    color: #FFF;
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-logo, .footer-number{
    display: inline-block;
}

.footer-number{
    margin: 20px 0px 0px 40px;
}

.footer-number:before{
    content: "";
    position: absolute;
    background-image: url('/static/you_service/images/iphone.png');
    width: 15px;
    height: 30px;
    margin-left: -22px;
}

footer .footer-address{
    text-align: right;
    margin-top: 10px;
}

footer .socials{
    text-align: right;
}

footer .socials a{
    margin-left: 25px;
}
