

@media only screen and (max-width : 1200px){
	.header-upper, .header-lower{
		text-align: center;
	}

	/*.header-upper div p{
		font-size: 95%;
	}*/

/*	.header-phone:before {
		display: none;
	}*/

	.header-phone:before{
		display: block;
		content: '';
	    float: left;
	    position: relative;
	    background-image: url("/static/you_service/images/iphone.png");
	    left: 30px;
	    width: 15px;
	    height: 30px;
	}

	.header-lower .header-menu li{
		margin-bottom: 25px;
	}

	footer .footer-address{
		margin-top: 15px;
		margin-bottom: 25px;
	}

	footer .socials,
	footer .footer-address{
		text-align: center;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	header{
		text-align: center;
	}

	.header-phone-container{
		display: inline-block;
	}

	.header-phone{
		width: 100%;
	}

	.header-phone:before{
		display: block;
		content: '';
	    float: left;
	    position: relative;
	    background-image: url("/static/you_service/images/iphone.png");
	    left: -10px;
	    width: 15px;
	    height: 30px;
	}

	#myCarousel{
		display: none;
	}

	.callcenter{
		background: #272727;
	}

	.callcenter .feedback p{
		color: #fff;
	}

	@media only screen and (max-width : 500px){
		.advantages img{
			width: 100%;
		}
	}

}
